!!! 5
%html
  %head
    %title Guard
    %link{ rel: 'stylesheet', href: 'public/assets/style.css', type: 'text/css',  media: 'screen', charset: 'utf-8' }
    %script{ src: 'public/assets/index.js', type: 'text/javascript' }
  %body
    %h1 Guard
    %p work in progress...